
/* 
  SET ONLY CLASS DEFINITIONS OR ID DEFINITIONS ON THIS FILE
*/

.ant-layout-sider-trigger {
  width: 268px;
  background: #0000a4;
  left: 10px;
  bottom: 30px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0px;
  height: 35px;
  line-height: 30px;
}

.disable-hover:hover {
  background: none !important;
  color: none !important;
  cursor: default !important;
}

.ant-card-body {
  width: 100%;
}

.ant-menu > li > span {
  color: white;
}

.ant-menu > li > span > svg {
  color: white;
}

.ant-menu-item > span {
  color: white;
}

.ant-menu-item > div > span {
  color: white !important;
}

.ant-menu > li > div > span > svg {
  color: white;
}

.ant-menu-submenu-arrow::before {
  color: white;
}

.ant-menu-submenu-arrow::after {
  color: white;
}

.ant-menu-submenu-title > span {
  color: white
}

.ant-menu-sub {
  background: #04048b !important;
}

.ant-menu-item-selected {
  background-color: #d4d7e342 !important;
}

.ant-menu-item-disabled > span {
  color: grey !important;
}

.ant-menu-item-disabled > span > svg {
  color: grey !important;
}

.ant-menu::-webkit-scrollbar-corner {
  background: transparent;
}

.ant-layout-sider {
  overflow: hidden !important;
}

.ant-btn-primary {
  background: var(--pl-primary);
}

/* ______________________________________________ ANTD NOTIFICATION ______________________________________________ */

.ant-notification-topRight {
  top: 60px !important;
}

.ant-menu-item:active {
  background: #0c3cc0 !important;
}

.ant-table-header > table {
  table-layout: auto !important;
}

.ant-spin .ant-spin-dot {
  margin: -20px !important;
}

.ant-form-item-control-input-content > input {
  height: 40px;
}

.ant-form-item-control-input-content > div {
  height: 40px;
}

.ant-form-item-required {
  flex-direction: row-reverse;
}

.ant-form-item-required::before {
  margin-left: 4px;
}

.ant-form-item-required::after {
  width : 0;
  margin: 0 !important;
}

.select-container.ant-form-item-control-wrapper {
  width: 100%;
}

.ant-notification-notice-message {
  margin-inline-start: 0px !important;
}

.ant-notification-notice {
  padding: 12px 16px 12px 16px !important;
}

.ant-notification-notice-progress {
  inline-size: 100% !important;
  left: 0px !important;
  height: 4px !important;
}

.ant-notification-notice-success > progress::-webkit-progress-value {
  background: #52C41A !important;
}

.ant-notification-notice-warning > progress::-webkit-progress-value {
  background: #FAAD14 !important;
}

.ant-notification-notice-error > progress::-webkit-progress-value {
  background: #FF4D4F !important;
}

.ant-notification-notice-info > progress::-webkit-progress-value {
  background: #00AEFF !important;
}

.ant-notification-notice-wrapper {
  overflow: hidden !important;
}

.ant-notification-notice-progress::-webkit-progress-value {
  border-radius: 0px 0px 8px 8px;
}

/* ______________________________________________ CARD COMPANY ______________________________________________ */

.show-card {
  transform: translate3d(0px, 0px, 0px);
}

.hide-card {
  transform: translate3d(0px, -100px, 0px);
}

.hide-width {
  min-width: 0px !important;
  max-width: 0px !important;
}

.hide-header {
  transform: translate3d(0px, -80px, 0px);
  max-height: 0px !important;
}

.hide-company-card {
  height: 0px !important;
}

.width-sider {
  max-width: 55px !important;
  min-width: 55px !important;
  width: 55px !important;
}

/* ___________________________________________________________ GLOBAL LOADING ____________________________________________________________ */

.loading-global {
  background: var(--pl-fade);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  z-index: 999;
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.loading-global-off {
  opacity: 0;
  visibility: hidden;
}

.loading-global-company {
  background: #000000d6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  z-index: 999;
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.loading-global-off-company {
  opacity: 0;
  visibility: hidden;
}

/* ____________________________________________________________ FONTS  ____________________________________________________________ */

.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ant-typography {
  font-family: var(--font-century-gothic) !important;
}

article {
  font-family: var(--font-century-gothic) !important;
}

p {
  font-family: var(--font-century-gothic) !important;
}

/* ____________________________________________________________ TAGS  ____________________________________________________________ */

.flex {
  display: flex;
}

.greyed {
  color: #00000073 !important
}

.color-primary {
  color: var(--pl-primary);
}

.bg-primary {
  background: var(--pl-primary);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-cl {
  display: flex;
  flex-direction: column;
}

.font {
  font-size: 11px !important;
  text-wrap: nowrap !important;
}

.bold {
  font-weight: bold !important;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.cmn-margin {
  margin: var(--cmn-spacing);
}

.cmn-padding {
  padding: var(--cmn-spacing);
}

.scrollable {
  overflow-y: auto;
}

.jc-center {
  justify-content: center;
}

.transition {
  transition: all 250ms ease-in-out;
}

.cmn-border-radius {
  border-radius: var(--cmn-border-radius);
}

.cmn-margin-btm {
  margin-bottom: var(--cmn-spacing);
}

.cmn-margin-top {
  margin-top: var(--cmn-spacing);
}

.cmn-margin-tb {
  margin: var(--cmn-spacing) 0px var(--cmn-spacing) 0px;
}

.cmn-margin-lr {
  margin: 0px var(--cmn-spacing) 0px var(--cmn-spacing);
}

.bold {
  font-weight: bold;
}

.red-marker {
  color: red;
}