

.card-layout {
    border: 3px solid #0091D5;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 283px;
    height: 215px;
    gap: 0px;
    border-radius: var(--cmn-border-radius);
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    gap: 15px;
    cursor: pointer;
    color: #0091D5;
}

.card-layout:hover {
    border: 3px solid #004bd5;
    color: #004bd5;
}

.card-image-cst {
    font-size: 55px;
}

.card-title {
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.card-subtitle {
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.list {
    display: grid;
    width: 100%;
    height: -webkit-fill-available;
    column-gap: 20px;
    grid-auto-flow: column;
    justify-content: center;
    background: white;
}

.title-div {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 15px 0px;
}